{#si la variabe latest_question_list = true, entonces muestra el html dentro#}
{% if latest_question_list %}
{#<ul> = unordered list#}
{#<li> = list item#}
    
    <ul>
        {#hacemos un for para mostrar todas las preguntas que hay en latest_question_list#}
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.question_id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
{% endif %}
